#u1 { left: 88.4%; top: 29.35%; }
#u2 { left: 88.3%; top: 18.88%; }
#u3 { left: 88.25%; top: 8.39%; }
#u4 { left: 78.02%; top: 8.43%; }
#u5 { left: 77.9%; top: 18.96%; }
#u6 { left: 78.05%; top: 29.59%; }
#u7 { left: 68.4%; top: 29.49%; }
#u8 { left: 68.3%; top: 19.09%; }
#u9 { left: 68.37%; top: 8.33%; }
#u10 { left: 56.59%; top: 28.05%; }
#u11 { left: 56.52%; top: 17.59%; }
#u12 { left: 56.4%; top: 6.99%; }
#u13 { left: 46.4%; top: 6.99%; }
#u14 { left: 46.4%; top: 17.36%; }
#u15 { left: 46.44%; top: 28.09%; }
#u16 { left: 36.64%; top: 28.05%; }
#u17 { left: 36.69%; top: 17.49%; }
#u18 { left: 36.72%; top: 7.03%; }
#u19 { left: 26.35%; top: 6.99%; }
#u20 { left: 26.36%; top: 17.16%; }
#u21 { left: 26.15%; top: 27.45%; }
#u22 { left: 16.62%; top: 27.59%; }
#u23 { left: 16.72%; top: 17.29%; }
#u24 { left: 16.72%; top: 6.89%; }
#u25 { left: 5.92%; top: 6.99%; }
#u26 { left: 5.91%; top: 17.16%; }
#u27 { left: 5.77%; top: 27.53%; }
#u28 { left: 5.59%; top: 53.06%; }
#u29 { left: 5.7%; top: 63.26%; }
#u30 { left: 5.77%; top: 73.52%; }
#u31 { left: 16.72%; top: 73.69%; }
#u32 { left: 16.65%; top: 62.86%; }
#u33 { left: 16.7%; top: 52.55%; }
#u34 { left: 26.15%; top: 52.75%; }
#u35 { left: 26.32%; top: 62.99%; }
#u36 { left: 26.39%; top: 73.39%; }
#u37 { left: 36.85%; top: 73.49%; }
#u38 { left: 36.79%; top: 63.43%; }
#u39 { left: 36.87%; top: 53.29%; }
#u40 { left: 46.19%; top: 53.09%; }
#u41 { left: 46.3%; top: 63.25%; }
#u42 { left: 46.12%; top: 73.58%; }
#u43 { left: 56.69%; top: 73.69%; }
#u44 { left: 56.72%; top: 63.29%; }
#u45 { left: 56.8%; top: 52.45%; }
